## 决策树

数据描述：

- 数据地址：http://biostat.mc.vanderbilt.edu/wiki/pub/Main/Datasets/titanic.txt

In [1]:
import pandas as pd

data = pd.read_excel("./titanic.xls")
data.tail()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
pclass       1309 non-null int64
survived     1309 non-null int64
name         1309 non-null object
sex          1309 non-null object
age          1046 non-null float64
sibsp        1309 non-null int64
parch        1309 non-null int64
ticket       1309 non-null object
fare         1308 non-null float64
cabin        295 non-null object
embarked     1307 non-null object
boat         486 non-null object
body         121 non-null float64
home.dest    745 non-null object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.2+ KB

In [3]:
X = data[['pclass', 'age', 'sex']]
y = data['survived']
X.head()

   pclass      age     sex
0       1  29.0000  female
1       1   0.9167    male
2       1   2.0000  female
3       1  30.0000    male
4       1  25.0000  female

In [4]:
y.head()

0    1
1    1
2    0
3    0
4    0
Name: survived, dtype: int64

In [5]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 3 columns):
pclass    1309 non-null int64
age       1046 non-null float64
sex       1309 non-null object
dtypes: float64(1), int64(1), object(1)
memory usage: 30.8+ KB

In [6]:
X['age'].fillna(X['age'].mean(), inplace=True)
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 3 columns):
pclass    1309 non-null int64
age       1309 non-null float64
sex       1309 non-null object
dtypes: float64(1), int64(1), object(1)
memory usage: 30.8+ KB

/Users/willing/anaconda2/lib/python2.7/site-packages/pandas/core/generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [7]:
# 数据分割
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=33)

# 将类别特征向量化
from sklearn.feature_extraction import DictVectorizer

vc = DictVectorizer(sparse=False)
X_train = vc.fit_transform(X_train.to_dict(orient='record'))
X_test  = vc.transform(X_test.to_dict(orient='record'))

print vc.feature_names_

[u'age', u'pclass', u'sex=female', u'sex=male']

In [8]:
# 使用决策树模型进行训练
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier()
dtc.fit(X_train, y_train)
dtc_y_predict = dtc.predict(X_test)

# 评价标准
print "The accuracy of DecisionTreeClassifier:", dtc.score(X_test, y_test)

from sklearn.metrics import classification_report
print classification_report(y_test, dtc_y_predict, target_names=['died', 'survived'])

The accuracy of DecisionTreeClassifier: 0.810975609756
             precision    recall  f1-score   support

       died       0.84      0.88      0.86       210
   survived       0.76      0.69      0.73       118

avg / total       0.81      0.81      0.81       328

In [9]:
y_test.value_counts()

0    210
1    118
Name: survived, dtype: int64